body {
    background: url("/images/background.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/*NAV_MENU*/
ul.TopNavMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #4CAF50;
}

.navSearchButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.navSearchButton:hover {
    background-color: #000;
}

/*Footer*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    flex-grow: 1;
}

.footer {
    font-style: italic;
    /*padding-left: 10px;*/
    color: DarkSlateGray;
    opacity: 0.8;
    margin: 10px auto;
}

/*DOWNLOAD CSV*/
div[id=download] {
    padding: 20px 5px;
}

button[id=downloadButton] {
    background-color: #228B22;
    border-radius: 4px;
    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

/*UPLOAD CSV*/
div[id=upload] {
    text-align: center;
    padding: 3%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    background: #eee;
    width: 95px;
    word-break: break-all;

}

input[id=inputTag] {
    display: none;
}

label[id=inputLabel] {
    cursor: pointer;
    font-size: 15px;
}

span[id=imageName] {
    color: green;
}

button[id=uploadButton] {
    background-color: #DC143C;
    border-radius: 4px;
    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}





