<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function productAddedToShoppingCartMsg() {
            window.confirm("Продукт добавлен в корзину!");
        }
    </script>
</head>
<body>
<ul class="TopNavMenu">
    <li><a th:href="@{/home}"><i class="fa fa-fw fa-home"></i> Главная</a></li>
    <li style="float:right"><a th:href="@{/cart}"><i class="fa fa-fw fa-shopping-cart"></i>
        Корзина</a></li>
    <li style="float:right"><a th:href="@{/profile}"><i class="fa fa-fw fa-user"></i>
        Пользователь</a></li>
    <li style="float:right"><a th:href="@{/search}"><i class="fa fa-fw fa-search"></i>
        Поиск</a></li>
</ul>
<th:block th:if="${not #lists.isEmpty(oneProduct)}">
    <div class="container-fluid">
        <h2 class="text-center" style="padding-top: 16px" th:text="${oneProduct.getName()}"></h2><br>
        <th:block th:each="image:${oneProductImages}">
            <th:block th:if="${oneProduct.getId()==image.product.getId()}">
                <img class="mx-auto d-block" style="height:auto; max-width: 400px;"
                     th:src="@{'/images/'+${image.getImagePath()}}"
                     th:alt="${image.getImagePath()}">
            </th:block>
        </th:block>
        <br>
        <div class="container">
            <h2>Информация о продукте:</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center" style="vertical-align: middle">Описание</th>
                    <th class="text-center" style="vertical-align: middle">Цена, руб.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${oneProduct.getDescription()}"></td>
                    <td class="text-center" style="vertical-align: middle" th:text="${oneProduct.getPrice()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <a style="text-decoration: none"
           th:href="@{'/cart/add?productId='+${oneProduct.getId()}}">
            <button class="buttonAddProduct" type="submit" onclick="productAddedToShoppingCartMsg()"><i
                    class="fa fa-cart-plus fa-lg" style="padding-right: 5px"></i>Купить
            </button>
        </a>
        <br>
    </div>
</th:block>
</body>
</html>
