<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign.css}"/>
    <script type="text/javascript" th:src="@{/js/validation.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="container" style="text-align: center;">
    <form id="signinForm" method="post" th:action="@{/login}" class="needs-validation" novalidate>
        <div id="signinLbl">
            Вход
        </div>
        <input type="text" id="login" class="form-control" style="margin-right: auto;margin-left: auto"
               placeholder="Логин"
               name="login" required>
        <div class="invalid-feedback" style="font-size: 17px">Поле 'Логин' не заполнено!</div>
        <input type="text" id="password" class="form-control"
               style="margin-right: auto;margin-left: auto;margin-top: 30px;"
               placeholder="Пароль"
               name="password" required>
        <div class="invalid-feedback" style="font-size: 17px">Поле 'Пароль' не заполнено!</div>
        <br/>
        <button id="signinBtn" type="submit" class="btn btn-primary">Войти</button>
        <br/>
        <div style="padding-top: 16px">
            <span style="color: #777777">Нет аккаунта?</span>
            <a th:href="@{'/registration'}" style="cursor: pointer;color: #0000CD">Зарегистрироваться</a>
        </div>
    </form>
</div>
</body>
</html>

